._text-header {
  font-family: $font-nunito;
  color: $oceanic-blue;
  font-size: 25px;

  &-link {
    text-decoration: none;
    font-family: $font-nunito;
    color: $oceanic-blue;
    font-size: 25px;
  }
}


